nfts/images/
nfts/metadata/
tests/
frog_day/
collections/1-frogs
collections/2-frog_day
collections/3-frog_ponds
collections/4-shitmos
collections/5-sandwich
collections/6-sentinal
collections/7-unicorn
collections/8-harmony
collections/9-flies
collections/10-cosmic-gumball-machine
collections/11-color_flow
collections/12-alchemists
collections/13-shitberus
collections/14-owls
collections/15-star_seizures
collections/16-wads
collections/18-squirrels
collections/19-cute_narwals
collections/20-gartic
collections/21-big-money
collections/22-dragons
